{% extends 'layout-nhsuk-services.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

{% block pageTitle %}
  How to order a repeat prescription - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}


{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="nhs-services">NHS services</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="prescriptions">Prescriptions</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Home
    </a>
  </p>
</nav>
{% endblock %}


<!-- How to order a repeat prescription content -->
{% block content %}
<br>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>How to order a repeat prescription</h1>
    </div>

    <article>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
  
          
    
      
  
  
    <section>
  
      
  
      
        
          
            
  
  
  
      <p data-block-key="50e3k">If you take medicine regularly, you'll usually have a repeat prescription. This means you can order your medicine without having to see a GP every time.</p><p data-block-key="3063b">It’s important to request the prescription up to 5 working days before you need your medicine.</p><p data-block-key="4f8mi">You might be able to ask your pharmacy directly for your medicine if your GP has set this up (repeat dispensing). If not, you'll need to order your medicines through a repeat prescription from your GP surgery.</p><p data-block-key="3lq8q">There are 3 ways to order a repeat prescription from your GP surgery:</p><ul><li data-block-key="bqpak">using your NHS account</li><li data-block-key="36njg">using other online services or apps</li><li data-block-key="fs8j4">contacting your GP surgery</li></ul>
  
          
        
      
    </section>
  
  
    
      
  
  
    <section>
  
      
      
        <h2>Using your NHS App or account</h2>
      
  
      
        
          
            
  
  
  
      <p data-block-key="50e3k">You can order a repeat prescription using the NHS App or by logging into your account on the NHS website.</p><p data-block-key="2ne56">If you're asked to nominate a pharmacy, you can only nominate a high street pharmacy.</p><p data-block-key="ctp5b">You'll be able to collect your medicine in person when it's ready. Some high street pharmacies also deliver.</p>
  
          
        
      
        
          
            
  
  <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <h3 class="nhsuk-heading-m">Order a repeat prescription using your NHS App or account</h3>
      <a href="https://www.nhsapp.service.nhs.uk/patient/health-records/gp-medical-record" role="button" draggable="false" class="nhsuk-button ">
        Log in or open NHS App
        </a>
        
        <a href="https://www.nhsapp.service.nhs.uk/login" role="button" draggable="false" class="nhsuk-button nhsuk-button--secondary">
        Create an account
        </a>
  </div>
x


  
      
    </section>
  
  
    
      
  
  
    <section>
  
    
        <h2>Using other online services or apps</h2>
      
  
      <p data-block-key="50e3k">You can use other online services to order a repeat prescription:</p>
      <ul>
        <li data-block-key="6c7bn">GP online services: ask your GP surgery which service they use as you’ll need to use the same one</li>
        <li data-block-key="9bf73">internet pharmacies: they'll ask for your name, age and GP surgery's address so they can get your prescription</li>
      </ul>
      <p data-block-key="3rv8h">You can see <a href="https://www.nhs.uk/service-search/other-health-services/pharmacies/internetpharmacies">a list of internet pharmacies</a> registered with the NHS and find out more about <a href="/nhs-services/gps/online-health-and-prescription-services/">online health and prescription services</a>.</p>
  
          
        
      
    </section>
  
  
    
      
  
  
    <section>
  
      
      
        <h2>Contacting your GP surgery</h2>
      
  
      
        
          
            
  
  
  
      <p data-block-key="50e3k">Ask your GP surgery how to let them know when you need your repeat prescription.</p><p data-block-key="d76l9">When your prescription is ready you can pick it up in person, or your GP surgery may be able to send it to a pharmacy of your choice.</p><p data-block-key="f2n5j">If you nominate a pharmacy, the pharmacy may be able to deliver your medicine to you or let you know when it’s ready for you to collect.</p><p data-block-key="4ip8i">Speak to your local pharmacy to find out what they offer.</p>
  
          
        
      
        
          
            
  
  <div class="nhsuk-action-link">
    
    <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/find-a-gp">
    
      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
      <span class="nhsuk-action-link__text">Find a GP</span>
    </a>
  </div>
  
          
        
      
    </section>
  
  
    
  
  
        </div>
  
        
  
      </div>
    </article>


    <aside class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div id="sibling-nav" class="beta-hub-sibling-nav nhsuk-u-padding-top-5">
          <h2 class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-4">
            More in
            
              <a href="/nhs-services/prescriptions/">Prescriptions</a>
            
          </h2>
          <nav role="navigation" class="beta-nhsuk-navigation-sideways">
            <ul class="beta-nhsuk-navigation-sideways__list">
              
                
                
                  
                  
                    
                      <li class="beta-nhsuk-navigation-sideways__item">
                        <a href="https://www.nhs.uk/nhs-services/prescriptions/check-if-you-can-get-free-prescriptions/">
                          Check if you can get free prescriptions
                        </a>
                      </li>
                    
                  
                    
                      <li class="beta-nhsuk-navigation-sideways__item">
                        <a href="https://www.nhs.uk/nhs-services/prescriptions/nhs-prescription-charges/">
                          NHS prescription charges
                        </a>
                      </li>
                    
                  
                    
                      <li class="beta-nhsuk-navigation-sideways__item">
                        <a href="https://www.nhs.uk/nhs-services/prescriptions/save-money-with-a-prescription-prepayment-certificate-ppc/">
                          Save money with a prescription prepayment certificate (PPC)
                        </a>
                      </li>
                    
                  
                    
                      <li class="beta-nhsuk-navigation-sideways__item">
                        <a href="https://www.nhs.uk/nhs-services/prescriptions/emergency-prescriptions/">
                          Emergency prescriptions
                        </a>
                      </li>
                    
                  
                    
                      <li class="beta-nhsuk-navigation-sideways__item is-active" aria-current="true">
                        How to order a repeat prescription
                      </li>
                    
                  
                    
                      <li class="beta-nhsuk-navigation-sideways__item">
                        <a href="https://www.nhs.uk/nhs-services/prescriptions/collect-prescription-for-someone-else/">
                          Collect a prescription for someone else
                        </a>
                      </li>
                    
                  
                
              
            </ul>
          </nav>
        </div>
      </div>
    </aside>

    <div>
      <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
        Page last reviewed: 17 October 2023
        <br>
        Next review due: 17 October 2026
      </p>
    </div>

  </div>
</div>

{% endblock %}


{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
